.wrapper {
  max-width: 600px;
  margin: 20px auto 10px;
  line-height: 1;
}
.container {
  padding: 20px 30px;
  background-color: #f8f8ff;
  box-shadow: 1px 3px 10px rgba(131, 125, 125, 0.2);
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
}
h1 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 40px;
}

.date {
  font-weight: 400;
  font-size: 25px;
  padding: 0;
  line-height: 30px;
}
.entercityform {
  padding: 0;
}
.entercity {
  padding: 40px 0;
  text-align: right;
}
.row {
  margin: 15px 0;
}

.btn {
  vertical-align: 0;
  padding: 3px 12px;
}
.btn-secondary {
  color: #fff;
  background-color: green;
  border-color: green;
}
.secondrow {
  border: 1px solid #0069d9;
  border-radius: 6px;
  background-color: #fff;
}
.city,
.country {
  padding-left: 20px;
}

.city {
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  padding-top: 20px;
  text-transform: capitalize;
}
.temperature-main {
  text-align: right;
  padding: 10px 0px 20px;
  font-size: 40px;
  font-weight: 400;
}
.units {
  font-size: 20px;
  font-weight: 400;
}
.active {
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
}

#icon {
  display: block;
  width: 128px;
  height: 128px;
  margin: 0 auto;
}
.secondary {
  margin-top: 40px;
  padding: 0;
  line-height: 1.3;
}
.cloudy {
  font-size: 25px;
  font-weight: 400;
}
.cloudy:first-letter {
  text-transform: capitalize;
}
.thirdrow {
  margin-top: 30px;
}
.col {
  padding-left: 0px;
  width: 100px;
}
.card {
  border: 1px solid #0069d9;
}
.card-body {
  padding: 8px;
}
.day {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.weather {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}
.temperature {
  text-align: center;
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
}

.card-img-top {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
